body{
    background-color:aquamarine;
}
.grid1{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-gap:10px;
}
.item1{
    border-style:dashed;
    border-color: blue;
    border-width: 1mm;
    background-color:darkturquoise;
}
.item2{
    border-style:dashed;
    border-color: red;
    border-width: 1mm;
    background-color:rgb(225,235,235);
}
.item3{
    grid-column:1/4;
}